input[type=checkbox] 
{
    visibility: hidden;
}
.good
{
    width: 140px;
    height: 40px;
    margin: left;
    position:relative;
}
.good  div
{
    width: 100%;
    height:100%;
    background: #d3d3d3;
    border-radius: 50px;
    position: relative;
    top:-20px;
}
.good  label
{
    display: block;
    width: 50px;
    height: 25px;
    border-radius: 40px;
    -webkit-transition: all .5s ease;
    -moz-transition: all .5s ease;
    -o-transition: all .5s ease;
    -ms-transition: all .5s ease;
    transition: all .5s ease;
    cursor: pointer;
    position: absolute;
    top: 5px;
    z-index: 1;
    left: 8px;
    background: #FFF;
}
.good  input[type=checkbox]:checked ~ div
{
    background: #4fbe79;
}
.good  input[type=checkbox]:checked ~ label 
{
    left: 85px;
}
.cheap
{
    width: 140px;
    height: 40px;
    margin: left;
    position:relative;
}
.cheap  div
{
    width: 100%;
    height:100%;
    background: #d3d3d3;
    border-radius: 50px;
    position: relative;
    top:-20px;
}
.cheap  label
{
    display: block;
    width: 50px;
    height: 25px;
    border-radius: 40px;
    -webkit-transition: all .5s ease;
    -moz-transition: all .5s ease;
    -o-transition: all .5s ease;
    -ms-transition: all .5s ease;
    transition: all .5s ease;
    cursor: pointer;
    position: absolute;
    top: 5px;
    z-index: 1;
    left: 8px;
    background: #FFF;
}
.cheap  input[type=checkbox]:checked ~ div
{
    background: #4fbe79;
}
.cheap  input[type=checkbox]:checked ~ label 
{
    left: 85px;
}
.fast
{
    width: 140px;
    height: 40px;
    margin: left;
    position:relative;
}
.fast div
{
    width: 100%;
    height:100%;
    background: #d3d3d3;
    border-radius: 50px;
    position: relative;
    top:-20px;
}
.fast  label
{
    display: block;
    width: 50px;
    height: 25px;
    border-radius: 40px;
    -webkit-transition: all .5s ease;
    -moz-transition: all .5s ease;
    -o-transition: all .5s ease;
    -ms-transition: all .5s ease;
    transition: all .5s ease;
    cursor: pointer;
    position: absolute;
    top: 5px;
    z-index: 1;
    left: 8px;
    background: #FFF;
}
.fast  input[type=checkbox]:checked ~ div
{
    background: #4fbe79;
}
.fast  input[type=checkbox]:checked ~ label 
{
    left: 85px;
}